html {
  height: 100%;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  touch-action: none;
}

body {
  height: 100%;
  margin: 0px;
  user-select: none;
}

@media screen and (max-device-width: 1300px) {

  #container {
    width: 100%;
  }

  #tiles-grid {
    width: 80%;
    grid-gap: 2vw;
  }

  .tile-row {
    grid-gap: 2vw;
  }

  #keyboard-area {
    height: 33%;
  }

  .keyboard-row {
    height: 29%;
    padding: 0.5vh 0 0.2vh 0;
  }

  .keyboard-key{
    width: 9%;
  }

  #enter.keyboard-key, #delete.keyboard-key {
    width: 14%;
  }

}

@media screen and (min-device-width: 1301px) {

  #container {
    width: 50vh;
  }

  #tiles-grid {
    width: 60%;
    grid-gap: 6px;
  }

  .tile-row {
    grid-gap: 6px;
  }

  #keyboard-area {
    height: 25%;
  }

  .keyboard-row {
    height: 29%;
  }

  .keyboard-key{
    width: 8%;
  }

  #enter.keyboard-key, #delete.keyboard-key {
    width: 14%;
  }
}


#container {
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#header {
  width: 100%;
  background-color: lightslategray;
  height: 8%;
}

#tiles-area {
  width: 100%;
  background-color: lightskyblue;
  // height: 68%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#keyboard-area {
  width: 100%;
  background-color: lightslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 5px 0 5px;
}

#title {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 5vh;
  pointer-events: none;
  letter-spacing: 0.4rem;
}

.menu-button {
  position: absolute;
}

#tiles-grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  padding: 10px;
  aspect-ratio: 5 / 6;
}

.tile-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game-tile {
  display: inline-flex;
  border: 2px #666666 solid;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 4.5vh;
  vertical-align: bottom;
}

.game-tile[evaluation='correct'] {
  background-color: #538d4e;
}

.game-tile[evaluation='present'] {
  background-color: #b59f3b;
}

.game-tile[evaluation='absent'] {
  background-color: #3a3a3c;
}

.keyboard-row {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

.keyboard-key {
  background: #45464a;
  display: inline-flex;
  height: 100%;
  margin: 2px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-size: 2vh;
  font-weight: 500;
  border: none;
  margin-left: 4px;
}

#enter.keyboard-key, #delete.keyboard-key {
  font-size: 1.5vh;
}

#delete.keyboard-key > svg {
  height: 3vh;
  width: 3vh;
}
